name: Pull Request Labeler
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  triage:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check Out Code
        uses: actions/checkout@v2

      - name: Label Pull Request
        uses: actions/labeler@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          labels: |
            bug:bug
            update:update